<h1>
  Welcome to the Vegan Kitchen! <i class="fa fa-leaf" aria-hidden="true"></i>
</h1>

<h3>
  This website was created to organize and sort all of the delicious recipes that I love and share them with friends and family who are always asking for my recipes.  It can also be used for any individual user to create his or her own recipe storing site.  Enjoy!
</h3>
<h2>
  View Recipes By...
</h2>

<h1>
<a href="/types" class="btn btn-lg btn-success">Type</a>
</h1>

<h1>
<a href="/cuisines" class="btn btn-lg btn-success">Cuisine</a>
</h1>

<h1>
<a href="/key_foods" class="btn btn-lg btn-success">Key Food</a>
</h1>
