<h1>
  Welcome to the Vegan Kitchen! <i class="fa fa-leaf" aria-hidden="true"></i>
</h1>

<h2>
  View Recipes By...
</h2>

<button type="button" name="button"><a href="/types">Type</a></button></button>

<button type="button" name="button"><a href="/cuisines">Cuisine</a></button></button>

<button type="button" name="button"><a href="/key_foods">Key Food</a></button></button>
